{% extends "WebappBlackspanBundle::layout.html.twig" %}
{% block title %}
Help me -{{ parent() }}
{% endblock %}
{% block webappblackspan_body %}
<h3>Aide</h3>
<a href="https://github.com/Blackspan/Blackspan/wiki" class="btn" target="_blank"> Wiki</a>
<a href="https://github.com/Blackspan/Blackspan/" class="btn" target="_blank"> Documentation</a>
<a href="https://github.com/Blackspan/Blackspan/" class="btn" target="_blank"> How to</a>
<a href="https://github.com/Blackspan/Blackspan/" class="btn" target="_blank"> License</a>
{%endblock%}