{% extends "WebappBlackspanBundle::layout.html.twig" %}
{% block title %}
Tableau de bord -{{ parent() }}
{% endblock %}
{% block webappblackspan_body %}
<h3>Liste des accès en cours</h3>


{%endblock%}